<div class="text-center" style="margin-top: 5vh">
	<div class=" d-inline-block">	
		<h1 class="text-center h3 mb-3 font-weight-light"> Welcome to Pegatrip! </h1>
       	<p class="text-center h6 mb-3 font-weight-light "> Your journey starts now! </p>
       	<form class="form-inline justify-content-center">
		     <input class="form-control mr-sm-2 d-inline-block" type="search" placeholder="Search" aria-label="Search">
		     <button class="btn btn-outline-success my-2 my-sm-0 d-inline-block" type="submit">Search</button>
       	</form>
	</div>
</div> 
